.site-header {
  background: $primary-color;

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-branding {
    display: flex;
    align-items: center;

    padding: 0.5rem 0;

    .header {
      &__logo {
        img {
          height: 2.75rem;
          @include respond-to('medium') {
            height: 4rem;
          }
        }
      }

      &__title {
        color: $white;
        padding-left: 1rem;
        @include respond-to('medium') {
          display: none;
        }
      }
    }
  }


  .cart-container {
    display: flex;
    justify-content: flex-end;

    @include respond-to('medium') {
      width: 10rem;
    }

    .cart-customlocation {
      @include border-radius(100%);
      font-size: 1rem;
      color: $white;
      height: 1.875rem;
      width: 1.875rem;
      padding-top: 0.25rem;
      position: relative;
      border: 1px solid $white;
      text-align: center;
      margin-right: 0.3rem;

      &.pulse {
        animation: pulse 1s;
        transition: 0.25s;
        box-shadow: 0 0 0 2em rgba(#fff, 0);
      }
    }

  }

}

.content-wrapper {
  max-width: $max-width;
  padding: 0 $padding-mobile;
  margin: 0 auto;
  @include respond-to('medium') {
    padding: 0 $padding-desktop;
  }
}
